{% extends 'app/base.html' %}

{% block title %}Appointment List{% endblock title %}

{% block content %}
    <h1>Appointment List</h1>
    <a href="{% url 'appointment_create' %}" class="button">+ Add Appointment</a>
    <table>
        <thead>
            <tr>
                <th>Patient</th>
                <th>Appointment Date</th>
                <th>Description</th>
                <th>Resolved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.appointment_date }}</td>
                <td>{{ appointment.description|default:"N/A" }}</td>
                <td>{{ appointment.resolved|yesno:"Yes,No" }}</td>
                
                <td>
                    <a href="{% url 'appointment_detail' appointment.pk %}">View</a> |
                    <a href="{% url 'appointment_update' appointment.pk %}">Edit</a> |
                    <a href="{% url 'appointment_delete' appointment.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No appointments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
